<script type="text/javascript">
    const btnCarrinho = document.getElementById('iconeCarrinho')
    const fecharCarrinho = document.getElementById('fecharCarrinho')
    const limparItens = document.getElementById('btnLimpar')
    const finalizarPedido = document.getElementById('btnPedido')
    const itensCarrinho = document.getElementById('item')
    const totalCarrinho = document.getElementById('total')
    const itens = document.getElementById('Item')

    // ************************************************
    // Shopping Cart API
    // ************************************************

    var shoppingCart = (function() {
        // =============================
        // Private methods and propeties
        // =============================
        let cart = [];
        
        // Constructor
        function Item(id, nome, preco, qtd, imagem) {
            this.id = id;
            this.nome = nome;
            this.preco = preco;
            this.qtd = qtd;
            this.imagem = imagem;
        }
        
        // Save cart
        function saveCart() {
            sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
        }
        
            // Load cart
        function loadCart() {
            cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
        }

        if (sessionStorage.getItem("shoppingCart") != null) {
            loadCart();
        }

        // =============================
        // Public methods and propeties
        // =============================
        var obj = {};

        // Add to cart
        obj.addItemToCart = function (id, nome, preco, qtd, imagem) {
            for (let i = 0; i < cart.length; i++) {
                if (cart[i].id == id) {
                    cart[i].qtd += qtd;
                    saveCart();
                    return;
                }
            }
            var item = new Item(id, nome, preco, qtd, imagem);
            cart.push(item);
            saveCart();
        }

        // Set count from item
        obj.setCountForItem = function (id, qtd) {
            for (let i = 0; i < cart.length; i++) {
                if (cart[i].id == id) {
                    cart[i].qtd = qtd;
                    break;
                }
            }
        };

        // Remove item from cart
        obj.removeItemFromCart = function (id) {
            for (let i = 0; i < cart.length; i++) {
                if (cart[i].id == id) {
                    cart[i].qtd--;
                    if (cart[i].qtd == 0) {
                        cart.splice(i, 1);
                    }
                    break;
                }
            }
            saveCart();
        }

        // Remove all items from cart
        obj.removeItemFromCartAll = function (id) {
            for (let i = 0; i < cart.length; i++) {
                if (cart[i].id == id) {
                    cart.splice(i, 1);
                    break;
                }
            }
            saveCart();
        }

        // Clear cart
        obj.clearCart = function() {
            cart = [];
            saveCart();
        }

        // Count cart 
        obj.totalCount = function() {
            let totalCount = 0;
            for (let i = 0; i < cart.length; i++) {
                totalCount += cart[i].qtd;
            }
            return totalCount;
        }

        // Total cart
        obj.totalCart = function() {
            let totalCart = 0;
            for (let i = 0; i < cart.length; i++) {
                totalCart += cart[i].preco * cart[i].qtd;
            }
            return "R$" + totalCart.toFixed(2).replace('.', ',');
        }

        // List cart
        obj.listCart = function() {
            let cartCopy = [];
            for (let i = 0; i < cart.length; i++) {
                let item = cart[i];
                let itemCopy = {};
                for (p in item) {
                    itemCopy[p] = item[p];
                }
                cartCopy.push(itemCopy);
            }
            return cartCopy;
        }

        obj.countCart = function () {
            return cart.length;
        };

        // cart : Array
        // Item : Object/Class
        // addItemToCart : Function
        // removeItemFromCart : Function
        // removeItemFromCartAll : Function
        // clearCart : Function
        // countCart : Function
        // totalCart : Function
        // listCart : Function
        // saveCart : Function
        // loadCart : Function
        return obj;
    })();

    // *****************************************
    // Triggers / Events
    // ***************************************** 
    // Clear items
    $('.clear-cart').click(function() {
        shoppingCart.clearCart();
        displayCart();
    });

    function displayCart() {
        var cartArray = shoppingCart.listCart();
        var output = "";

        for(var i in cartArray) {
            p = cartArray[i]
            output +=
            `<div id='item ${i}' class='row border border-light my-2'>
                <img width=100% height=100% class='col-sm-3 my-auto' src='${p.imagem}' alt='Imagem ${p.nome}'/> 
                <div class='col-sm-6 my-auto'>
                    <div class='h5'>${p.nome}</div>
                    <div class='h6'>R$ ${(p.preco).toFixed(2).replace('.', ',')}</div>
                </div>
                <div class='col-sm-2'>
                <button id='plus-item' type='button' data-id='${p.id}' class='btn' ><i class='fa fa-chevron-up'></i></button>
                    <input id='quantidade-item' data-id='${p.id}' type='number' class='item-count form-control' value='${p.qtd}'/>
                    <button id='minus-item' type='button' data-id='${p.id}' class='btn'><i class='fa fa-chevron-down'></i></button>
                </div>
                <button type='button' id='deleteItem' data-id='${p.id}' class='close align-middle col-1'>
                    <span class='h5'>&times;</span>
                </button>
            </div>`
        }
        $('#containerItens').html(output);
        $('#total').text(shoppingCart.totalCart());
        $('.total-count').html(shoppingCart.totalCount());
    }

    function listarPedido() {
        var cartArray = shoppingCart.listCart();
        var output = "";

        for(var i in cartArray) {
            p = cartArray[i]
            output +=
            `<div id='item ${i}' class='row my-2'>
                <div class='col-sm-2 my-auto'>
                    <div id='quantidade-item' class='h3'>${p.qtd} x</div>
                </div>
                <div class='col-sm-6 my-auto'>
                    <div class='h5'>${p.nome}</div>
                    <div class='h6'>R$ ${(p.preco).toFixed(2).replace('.', ',')}</div>
                </div>
                <img width=100% height=100% class='col-sm-3 my-auto' src='${p.imagem}' alt='Imagem ${p.nome}'/> 
            </div>`
        }
        $('#listaPedido').html(output);
        $('#totalp').text(shoppingCart.totalCart());
        $('.total-count').html(shoppingCart.totalCount());
    }

    function ocultarCarrinho() {
        // hide sidebar
        $('#containerCarrinho').hide();
        // hide overlay
        $('.overlay').removeClass('active');
        // Volta com a barra de rolagem do body
        document.body.style.overflow = "";
    }

    function exibirCarrinho() {
        displayCart();

        // open sidebar
        $('#containerCarrinho').show();
        // fade in the overlay
        $('.overlay').addClass('active');
        // Oculta a barra de rolagem do body
        document.body.style.overflow = "hidden";
    }

    // Delete item button
    $('#containerItens').on("click", "#deleteItem", function(event) {
        var id = $(this).data('id')
        shoppingCart.removeItemFromCartAll(id);
        displayCart();
    })

    // -1
    $('#containerItens').on("click", "#minus-item", function(event) {
        var id = $(this).data('id')
        shoppingCart.removeItemFromCart(id);
        displayCart();
    })

    // +1
    $('#containerItens').on("click", "#plus-item", function(event) {
        var id = $(this).data('id')
        var qtd = Number($(this).val()) + (1*1);
        shoppingCart.addItemToCart(id, null, null, qtd);
        displayCart();
    })

    // Item count input
    $('#containerItens').on("change", "#quantidade-item", function(event) {
        var id = $(this).data('id');
        var qtd = Number($(this).val());
        
        if(qtd > 0) {
            shoppingCart.setCountForItem(id, qtd);
        } else if(qtd < 0) {
            qtd = 1;
            shoppingCart.setCountForItem(id, qtd);
        } else {
            shoppingCart.removeItemFromCartAll(id);
        }
        displayCart();
    });
        
    //sistema para ocultar qtd de elementos no icone carrinho
    if (shoppingCart.countCart() > 0) {
        $('#itensNoCarrinho').removeClass('invisible');
        $('#itensNoCarrinho').text(shoppingCart.countCart());
    } else {
        $('#itensNoCarrinho').addClass('invisible');
    }

    // FINALIZAR PEDIDO \\
    $(document).ready(function () {
        if(window.location.pathname == "/finalizar"){
            var carrinho = shoppingCart.listCart();
            console.log(carrinho);
        }
    });

</script>
