<div class="d-block">

    <!-- Sidebar -->
        <nav id="containerCarrinho" class="border col-sm-4 container shadow-sm vh-100 carrinho sr-only">

            <button id="fecharCarrinho" class="btn close"><span aria-hidden="true" class="h3">&times;</span></button>
            <div class="row border-bottom">
                <div id="titulo" class="container m-0 p-2 col-11 h4">
                    Meu carrinho
                </div>
            </div>

            <form class="form-group">
                <div id="containerItens" class="mostrar-carrinho container-fluid p-0 m-0">
                    <div id="item" class="row border border-light my-2">
                        <img class="col-sm-3" src="https://www.desktopbackground.org/download/o/2010/12/16/127023_light-grey-backgrounds-hd_1920x1080_h.jpg" alt="produto"/>
                        <div class="col-sm-6">
                            <div class="h5">Sabonete Argila Branca</div>
                            <div class="h6">R$40,00</div>
                        </div>
                        <div class="col-sm-2">
                            <button id="addQuantidade" class="btn" onclick="processCart(1)"><i class="fa fa-chevron-up"></i></button>
                            <input id="quantidade-item" type="number" class="item-count form-control" value="1"/>
                            <button id="diminuiQuantidade" class="btn" onclick="processCart(-1)"><i class="fa fa-chevron-down"></i></button>
                        </div>
                        <button type="button" id="closeItem" class="close align-middle col-1" aria-label="Remover">
                            <span aria-hidden="true" class="delete-item h5">&times;</span>
                        </button>
                    </div>
                </div>

                <div name="rodapé-carrinho">
                    <div class="my-4 container text-center h5 bold">Total: <span id="total">R$40,00</span></div>
                    <div name="botoes" class="container">
                        <button id="btnLimpar" class="clear-cart btn btn-light btn-block">Limpar carrinho</button>
                        <button id="btnPedido" class="btn btn-success btn-block">FINALIZAR COMPRA</button>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fecharCarrinho, .overlay').on('click', function () {
            // hide sidebar
            $('#containerCarrinho').addClass('sr-only');
            // hide overlay
            $('.overlay').removeClass('active');
        });

        $('#iconeCarrinho').on('click', function () {
            // open sidebar
            $('#containerCarrinho').removeClass('sr-only');
            // fade in the overlay
            $('.overlay').addClass('active');
        });
    });
    
</script>

<script name="carrinho">
    const btnCarrinho = document.getElementById('iconeCarrinho')
    const fecharCarrinho = document.getElementById('fecharCarrinho')
    const limparItens = document.getElementById('btnLimpar')
    const finalizarPedido = document.getElementById('btnPedido')
    const itensCarrinho = document.getElementById('item')
    const totalCarrinho = document.getElementById('total')
    const itens = document.getElementById('Item')

    // ************************************************
    // Shopping Cart API
    // ************************************************

    var shoppingCart = (function() {
    // =============================
    // Private methods and propeties
    // =============================
    let cart = [];
    
    // Constructor
    function Item(id, nome, preco, qtd, imagem) {
        this.id = id;
        this.nome = nome;
        this.preco = preco;
        this.qtd = qtd;
        this.imagem = imagem;
    }
    
    // Save cart
    function saveCart() {
        sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
    }
    
        // Load cart
    function loadCart() {
        cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
    }
    if (sessionStorage.getItem("shoppingCart") != null) {
        loadCart();
    }
    

    // =============================
    // Public methods and propeties
    // =============================
    var obj = {};
    
    // Add to cart
    obj.addItemToCart = function(id, qtd) {
        for(var item in cart) {
            if(cart[item].id === id) {
                cart[item].qtd ++;
                saveCart();
                return;
            }
        }

        let inome = "Argila Vermelha"
        let ipreco = 40
        let iimagem = "/imagens/1/main.jpg"
        
        var item = new Item(id, inome, ipreco, qtd, iimagem);
        cart.push(item);
        saveCart();
    }
    // Set count from item
    obj.setCountForItem = function(id, qtd) {
        for(var i in cart) {
        if (cart[i].id === id) {
            cart[i].qtd = qtd;
            break;
            }
        }
    };
    // Remove item from cart
    obj.removeItemFromCart = function(id) {
        for(var item in cart) {
            if(cart[item].id === id) {
                cart[item].qtd --;
                if(cart[item].qtd === 0) {
                        cart.splice(item, 1);
                    }
                break;
            }
        }
        saveCart();
    }

    // Remove all items from cart
    obj.removeItemFromCartAll = function(id) {
        for(var item in cart) {
            if(cart[item].id === id) {
                cart.splice(item, 1);
                break;
            }
        }
        saveCart();
    }

    // Clear cart
    obj.clearCart = function() {
        cart = [];
        saveCart();
    }

    // Count cart 
    obj.totalCount = function() {
        var totalCount = 0;
        for(var item in cart) {
        totalCount += cart[item].count;
        }
        return totalCount;
    }

    // Total cart
    obj.totalCart = function() {
        var totalCart = 0;
        for(var item in cart) {
            totalCart += cart[item].preco * cart[item].qtd;
        }
        return Number(totalCart.toFixed(2).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }));
    }

    // List cart
    obj.listCart = function() {
        var cartCopy = [];
        for(i in cart) {
            item = cart[i];
            itemCopy = {};
            for(p in item) {
                itemCopy[p] = item[p];

            }
        itemCopy.total = Number(item.preco * item.qtd).toFixed(2);
        cartCopy.push(itemCopy)
        }
        return cartCopy;
    }

    // cart : Array
    // Item : Object/Class
    // addItemToCart : Function
    // removeItemFromCart : Function
    // removeItemFromCartAll : Function
    // clearCart : Function
    // countCart : Function
    // totalCart : Function
    // listCart : Function
    // saveCart : Function
    // loadCart : Function
    return obj;
    })();


    // *****************************************
    // Triggers / Events
    // ***************************************** 
    // Add item
    $('.add-to-cart').click(function(event) {
    event.preventDefault();
    var id = $(this).data('id');
    var count = Number($('#quant-text').val());
    shoppingCart.addItemToCart(id, qtd);
    //aparecer carrinho
    $('#containerCarrinho').removeClass('sr-only');
    $('.overlay').addClass('active');
    displayCart();
    });

    // Clear items
    $('.clear-cart').click(function() {
    shoppingCart.clearCart();
    displayCart();
    });

    function displayCart() {
    var cartArray = shoppingCart.listCart();
    var output = "";
    output +=
        "<div id='item' class='row border border-light my-2'>"
            + "<img class='col-sm-3' src='/imagens/1/main.jpg' alt='Imagem Argila Vermelha'/>" 
            + "<div class='col-sm-6'>"
                + "<div class='h5'> Argila Vermelha </div>"
                + "<div class='h6'> R$40,00 </div>"
            + "</div>"
            + "<div class='col-sm-2'>"
                + "<button id='addQuantidade' class='btn' onclick='processCart(1)'><i class='fa fa-chevron-up'></i></button>"
                + "<input id='quantidade-item' type='number' class='item-count form-control' value='1'/>"
                + "<button id='diminuiQuantidade' class='btn' onclick='processCart(-1)'><i class='fa fa-chevron-down'></i></button>"
            + "</div>"
            + "<button type='button' id='closeItem' class='delete-item close align-middle col-1'>"
                + "<span class='h5'>&times;</span>"
            + "</button>"

    for(var i in cartArray) {
        output +=
        "<div id='item' class='row border border-light my-2'>"
            + "<img class='col-sm-3' src='" + cartArray[i].imagem + "' alt='Imagem " + cartArray[i].nome + "'/>" 
            + "<div class='col-sm-6'>"
                + "<div class='h5'>" + cartArray[i].nome + "</div>"
                + "<div class='h6'>" + cartArray[i].preco + "</div>"
            + "</div>"
            + "<div class='col-sm-2'>"
                + "<button id='addQuantidade' class='btn' onclick='processCart(1)'><i class='fa fa-chevron-up'></i></button>"
                + "<input id='quantidade-item' type='number' class='item-count form-control' value='"+ cartArray[i].count +"'/>"
                + "<button id='diminuiQuantidade' class='btn' onclick='processCart(-1)'><i class='fa fa-chevron-down'></i></button>"
            + "</div>"
            + "<button type='button' id='closeItem' class='delete-item close align-middle col-1'>"
                + "<span class='h5'>&times;</span>"
            + "</button>"

    }
    $('.mostrar-carrinho').html(output);
    //$('#total').text(shoppingCart.totalCart());
    $('.total-count').html(shoppingCart.totalCount());
    }

    // Delete item button

    $('.mostrar-carrinho').on("click", ".delete-item", function(event) {
    var id = $(this).data('id')
    shoppingCart.removeItemFromCartAll(id);
    displayCart();
    })


    // -1
    $('.mostrar-carrinho').on("click", ".minus-item", function(event) {
    var id = $(this).data('id')
    shoppingCart.removeItemFromCart(id);
    displayCart();
    })
    // +1
    $('.mostrar-carrinho').on("click", ".plus-item", function(event) {
    var id = $(this).data('id')
    shoppingCart.addItemToCart(id);
    displayCart();
    })

    // Item count input
    $('.show-cart').on("change", ".item-count", function(event) {
    var id = $(this).data('id');
    var qtd = Number($(this).val());
    shoppingCart.setCountForItem(id, qtd);
    displayCart();
    });

    displayCart();

    function processCart(quant){
        var value = parseInt(document.getElementById("quantidade-item").value);
        value+=quant;
        if(value < 1){
            shoppingCart.removeItemFromCart() ;
        } else {
            document.getElementById("quantidade-item").value = value;

        }
    }
        
    //sistema para ocultar qtd de elementos no icone carrinho
    if(cart !== []) {
        $('#itensNoCarrinho').removeClass('sr-only');
        $('#itensNoCarrinho').text(shoppingCart.lenght)
    } else {
        $('#itensNoCarrinho').addClass('sr-only');
    }

    /*const produtos = [
    {
        "id": "1",
        "nome": "Argila vermelha",
        "preco": 40.0,
        "imagem": {"url": "./public/imagens/produto1.jpeg"}
    },
    {
        "id": "2",
        "nome": "Argila branca",
        "preco": 35.0,
        "imagem": {"url": "./public/imagens/produto2.jpeg"}
    },
    {
        "id": "3",
        "nome": "Argila preta",
        "preco": 45.5,
        "imagem": {"url": "./public/imagens/produto3.jpeg"}
    }
] */
</script>