
	<footer id="footer" class="navbar-fixed-bottom font-weight-light " style="background-color:#fafafa; ">
		<div class="container">
			<div class="row justify-content-between">
				<div class=" col-5">

					<p>
						<i class="fa fa-envelope" style="font-size:16px; opacity: 0.3;"></i> contato@email.com.br<br>
						<i class="fa fa-phone" style="font-size:18px; opacity: 0.3;"></i> 11 99999-9999
					</p>
				</div>

				<div class="col-7 " style="text-align: right;">
					<div id="opcoesFooter">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/produto">Produtos</a></li>
							<li><a href="/quiz">Sabonete Perfeito</a></li>
							<li><a href="#">Contato</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<hr style="width: 92%; margin-left: 4%;">
		<div class="footer-copyright ">
			<p class="font-weight-light text-center ">Copyright © <span class="logoFooter">CLA•YEY</span></p>
			<!--tem que registrar isso de verdade depois-->
		</div>
	</footer>
