
	<div class="principal" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-6  colEsq">
				<h1 id="tituloPrincipal">Sabonetes Caseiros</h1>
				<h4 id="descPrincipal">O melhor para a sua pele. Pipipopop opams kdak mkasm dmasd alsmd lmasd</h4>
				<button class="btn botao" id="botao1">
					Comprar
				</button>

			</div>
			<div class="col-6 " style="text-align: right;">

			</div>
		</div>
	</div>
	<div id="sectionProdutos mb-5">
		<div  class="container-fluid">
			<div class="row ">
				<div class="col-sm-3 border ">
					<div class="border">
						oioi
					</div>
					<div class="border">
						oioi
					</div>
				</div>
				<div class="col-sm-3 border ">
					<div class="">
						oioi
					</div>
					<div class="row">
						<div class="col border">ddd</div>
						<div class="col border">ddd</div>
					</div>
				</div>
				<div class="col-sm-6 border ">
					oioi
				</div>
			</div>

		</div>
	</div>

	<div id="sectionDepoimentos">
		<div id="depoimento">
			<p>Julia R.</p>
			<p>Que carinho ao receber os produtos!
				Embalagens lindas, cheirinho gostoso e um lindo brinde!
				Sabonetes de excelente qualidade! AMEI! e virei fã!</p>
		</div>
		<button class="btn botao" id="botao2">
			ver produtos
		</button>
	</div>
	<div id="sectionBiografia" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-6">
		

			</div>
			<div class="col-6">
				<p id="biografia">Olá, me chamo ... e sou dona da marca CLA•YEY. Aqui nós criamos sabonetes veganos para
					higiene pessoal.
					Moro em Santo André e entrego em toda região metropolitana de São Paulo.</p>
			</div>
		</div>
	</div>

