
	<div class="principal" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-12  colEsq">
				<h1 id="tituloPrincipal" >SABONETES ARTESANAIS</h1>
				<h5 id="descPrincipal" >Uma nova geração de sabonetes, </h5>
				<h5 id="descPrincipal" class="mr-4 mb-5" style="margin-left: 230px;">da natureza para o seu corpo.</h5>
				<button class="btn botao shadow " id="botao1">
					<a style="color:white" href="/produto">Comprar</a>
				</button>

			</div>
			<div class="col-6 " style="text-align: right;">

			</div>
		</div>
	</div>

	<div class="container-fluid" style="display:inline-block; ">
		<ul style=" max-width: 1200px; margin:0 auto;">
		
			<!-- colocando cada produto de acordo com o banco de dados -->
			
				<a class="produtoA" href="/produto/7"> 
					<li class="card card-produto " style="width: 250px;">
						<img src="/imagens/produtos/s7.jpg" class="card-img-top card-img-top2" alt="Sabonete de Carvão Ativado" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Carvão Ativado<br>
								R$ 18
							</p>   
						</div>
					</li>
				</a>
				<a class="produtoA" href="/produto/6"> 
					<li class="card card-produto " style="width: 250px;">
						<img src="/imagens/produtos/s6.jpg" class="card-img-top " alt="Sabonete Argila Vermelha" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Argila Vermelha<br>
								R$ 18
							</p>   
						</div>
					</li>
				</a>
				<a class="produtoA" href="/produto/8"> 
					<li class="card card-produto " style="width: 250px;">
						<img src="/imagens/produtos/s8.jpg" class="card-img-top " alt="Sabonete Pele Mista" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Pele Madura<br>
								R$ 18
							</p>   
						</div>
					</li>
				</a>
				<a class="produtoA" href="/quiz"> 
					<li class="card card-produto shadow-sm" style="width: 250px;">
						<img src="/imagens/produtos/squiz.jpg" class="card-img-top " alt="Sabonete Pele Mista" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text ">
								<strong>Descubra qual o sabonete perfeito para sua pele! </strong>
							</p>   
						</div>
					</li>
				</a>

		</ul>
	</div>

	</div>




	<!-- <div id="sectionProdutos mb-5">
		<div  class="container-fluid">
			<div class="row">
				<div class="col-sm-5 ml-auto">
					<div class="row">
						<div class="col-md"><img width=100% src="/imagens/produtos/cs3.jpg"></div>
						<div class="col-md"><img width=100% src="/imagens/produtos/s8.jpg"></div>
						<div class="col-md"><img width=100% src="/imagens/produtos/s7.jpg"></div>
					</div>
					<div class="pt-5">
						<img width=100% src="/imagens/produtos/cs1.jpg">
					</div>
				</div>
				<div class="col-sm-4 mr-auto">
					<div class="">
						<img width=100% src="/imagens/produtos/s3.jpg">
					</div>
					<div class="row">
						<div class="col" ><img width=100% src="/imagens/produtos/s6.jpg"></div>
						<div class="col" ><img width=100% src="/imagens/produtos/cs4.jpg"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div> -->

	<div id="sectionDepoimentos" class="principal2">
		<div id="depoimento">
			<p>Julia R.</p>
			<p>"Que carinho ao receber os produtos!
				Embalagens lindas, cheirinho gostoso e um lindo brinde!
				Sabonetes de excelente qualidade! AMEI! e virei fã!"</p>
					<button class="btn botao shadow" id="botao2">
						<a style="color:white" href="/produto"> ver produtos</a>
					</button>
		</div>
		
	</div>
	<div id="sectionBiografia" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-6">
		

			</div>
			<div class="col-6">
				<p id="biografia">Olá, me chamo ... e sou dona da marca CLA•YEY. Aqui nós criamos sabonetes veganos para
					higiene pessoal.
					Moro em Santo André e entrego em toda região metropolitana de São Paulo.</p>
			</div>
		</div>
	</div>

