<% titulo = null %>
	<div  class="container-fluid  principal">
		<div class="row justify-content-between limitadorBio h-100">
			<div class="col-sm-12 colEsq">
				<h1 id="tituloPrincipal" >SABONETES ARTESANAIS</h1>

				<!-- <% if (cliente) { %>
					<h2>Você está logado como <%=cliente.nome_cliente %> 😊</h2>
				<% } else { %>
					<h2>Você não está logado! 😥</h2>
				<% } %> -->

				<h5 id="descPrincipal" >Uma nova geração de sabonetes, </h5>
				<h5 id="descPrincipal" class="mr-4 dir" style=" margin-bottom: 30px">da natureza para o seu corpo.</h5>
				<a style="color:white" class="btn botao shadow " id="botao1" href="/produto"> 
					Comprar
				</a>
			</div>
			
		</div>
	</div>

	<div class="container-fluid limitadorBio" >
		<div class="row" style="margin:0 auto;">
				<a class=" produtoA col col-sm-3" href="/produto/7"> 
					<div class="card card-mostruario ">
						<img src="/imagens/produtos/s7.jpg" class="card-img-top" alt="Sabonete de Carvão Ativado" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Carvão Ativado<br>
								R$ 18
							</p>   
						</div>
					</div>
				</a>
				<a class=" produtoA col col-sm-3" href="/produto/6"> 
					<div class="card card-mostruario" >
						<img src="/imagens/produtos/s6.jpg" class="card-img-top " alt="Sabonete Argila Vermelha" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Argila Vermelha<br>
								R$ 18
							</p>   
						</div>
					</div>
				</a>
				<a class=" produtoA col col-sm-3" href="/produto/8"> 
					<div class="card card-mostruario" >
						<img src="/imagens/produtos/s8.jpg" class="card-img-top " alt="Sabonete Pele Mista" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text">Sabonete Pele Madura<br>
								R$ 18
							</p>   
						</div>
					</div>
				</a>
				<a class="col produtoA col-sm-3" href="/quiz"> 
					<div class="card card-mostruario">
						<img src="/imagens/produtos/squiz.jpg" class="card-img-top " alt="Sabonete Pele Mista" >
						<div class="card-body"  style="text-align: center;">
							<p class="card-text h5 ">
								<b>Descubra! </b>
							</p>   
						</div>
					</div>
				</a>

			</div>
	</div>

	</div>

	<div id="sectionDepoimentos" class="principal2">
		<div class="limitadorBio">
			<div id="depoimento">
				<p>Amanda L.</p>
				<p>"Que carinho ao receber os produtos!
					Embalagens lindas, cheirinho gostoso e um lindo brinde!
					Sabonetes de excelente qualidade! AMEI! e virei fã!"</p>
					<a style="color:white" class="btn botao shadow" id="botao2" href="/produto"> ver produtos</a>
			</div>	
		</div>
		
	</div>
	<div id="sectionBiografia" class="container-fluid">
		<div class="limitadorBio">
			<div class="row ">
				<div class="col-sm-8">
					<div class="biografia"> 
						<p style="margin-right: 250px;">Eu me apaixonei pela Saboaria Natural quando vi pela primeira vez a 
						alquimia dos óleos saponificando na minha frente, e trazendo como resultado o sabonete 
						natural, 100% orgânico como acontecia antigamente.</p>
						<p style="margin-left: 250px; text-align: right;">Foi aí que tive a intenção de criar a <b>CLA•YEY</b>, quero contribuir para um mundo mais natural,
							sem agredirmos a nossa pele com produtos sintéticos e ainda gerando menos lixo para 
							o mundo, através de embalagens 100% biodegradáveis, sem plásticos.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<img src="/imagens/banners/foto.png" class="imgTamanho" alt="Fundadora CLA•YEY" >
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-8">
					<p style=" font-size:26px; font-weight: 800;text-align: center;margin-top: -60px; color:#1d3045"> Tudo feito com muito carinho e amor</p>
				</div>
			</div>
		</div>
	</div>

