
	<div class="principal" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-6  colEsq">
				<h1 id="tituloPrincipal">Sabonetes Caseiros</h1>
				<h4 id="descPrincipal">O melhor para a sua pele. Pipipopop opams kdak mkasm dmasd alsmd lmasd</h4>
				<button class="btn botao" id="botao1">
					<a style="color:white" href="/produto">Comprar</a>
				</button>

			</div>
			<div class="col-6 " style="text-align: right;">

			</div>
		</div>
	</div>
	<div id="sectionProdutos mb-5">
		<div  class="container-fluid">
			<div class="row">
				<div class="col-sm-5 ml-auto">
					<div class="row">
						<div class="col-md"><img width=100% src="/imagens/produtos/s1.jpg"></div>
						<div class="col-md"><img width=100% src="/imagens/produtos/s8.jpg"></div>
						<div class="col-md"><img width=100% src="/imagens/produtos/s7.jpg"></div>
					</div>
					<div class="pt-5">
						<img width=100% src="/imagens/produtos/cs1.jpg">
					</div>
				</div>
				<div class="col-sm-4 mr-auto">
					<div class="">
						<img width=100% src="/imagens/index/EMO_4739.jpg">
					</div>
					<div class="row">
						<div class="col" ><img width=100% src="/imagens/produtos/s6.jpg"></div>
						<div class="col" ><img width=100% src="/imagens/index/EMO_4766.jpg"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div id="sectionDepoimentos">
		<div id="depoimento">
			<p>Julia R.</p>
			<p>Que carinho ao receber os produtos!
				Embalagens lindas, cheirinho gostoso e um lindo brinde!
				Sabonetes de excelente qualidade! AMEI! e virei fã!</p>
		</div>
		<a class="botaoA" href="/produto">
			<button class="btn botao" id="botao2">
				ver produtos
			</button>
		</a>
	</div>
	<div id="sectionBiografia" class="container-fluid">
		<div class="row justify-content-between  h-100">
			<div class="col-6">
		

			</div>
			<div class="col-6">
				<p id="biografia">Olá, me chamo ... e sou dona da marca CLA•YEY. Aqui nós criamos sabonetes veganos para
					higiene pessoal.
					Moro em Santo André e entrego em toda região metropolitana de São Paulo.</p>
			</div>
		</div>
	</div>

