<% titulo = "Login" %>
    
    <div class="fundoBase">

        <div id="containerLogin" class="mx-auto p-4 shadow bg-light">
            <h4 id="tituloAcesso">Acessar minha conta</h4>


            <form class="form-group" method="POST">
                <div class="input-group flex-nowrap">
                    <!-- <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">perfil</span>
                    </div> -->
                    <input type="text" id="email" name="email" value="" class="form-control" placeholder="e-mail"
                        aria-label="email" aria-describedby="addon-wrapping" required="required">           
                </div>

                <div class="input-group flex-nowrap mt-3">
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="senha"
                    aria-label="senha" aria-describedby="addon-wrapping" required="required">           
                </div>
                
                <% if (mensagem) { %>
                <div><%= mensagem %></div>
                <% } %>

                <div class=" d-flex justify-content-between ">
                    <input type="submit" class="btn btn-success px-5 mt-4" value="entrar"/>

                    <a type="button" href="/cadastro">cadastre-se</a>       
                </div>
                
                <!-- <a class="font-weight-light font-italic" style="font-size: 12px;" href="/recuperarsenha">esqueci minha senha?</a>
                 -->
            </form>
         </div>
    </div>
