<nav id="navbar" class="menu smart-scroll clearfix ">

    <a class="a1"> <h1 class="mt-2 ml-4">CLA•YEY</h1> </a>

    <ul class="mt-0 mr-0">
        <li><a href="/">Home</a></li>
        <li><a href="/produto">Produtos</a></li>
        <li><a href="/quiz">Sabonete Perfeito</a></li>
        <li><a onclick="scrollContato()" href="#footer">Contato</a></li>
    </ul>

    <div class="iconesPessoais">
        <% if(cliente) { %>
            <a id="iconeUsuario" class="btn tooltip-toggle" aria-describedby="tooltip">
                <span class="fa fa-user"></span>
            </a>
            <div id="tooltip" role="tooltip">
                <div id="arrow" data-popper-arrow></div>
                <p class="mt-2" style="font-size: 16px; font-weight: 600;">Olá, <%= cliente.nome_cliente %>!</p>
                <hr/>
                <p>Não é você? Clique no botão abaixo para fazer logout.</p>
                <a href="/logout" class="btn"><i>Logout</i></a>
            </div>
        <% } else { %>
            <a href="/login" id="iconeUsuario" class="btn" aria-describedby="tooltip">
                <span class="fa fa-user"></span>
            </a>
        <% } %>

        <button type="button" id="iconeCarrinho" class="btn">
            <span class="fa fa-shopping-cart"><span id="itensNoCarrinho" class="invisible">0</span></span>
        </button>
    </div>

</nav>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fecharCarrinho, .overlay').on('click', ocultarCarrinho);

        $('#iconeCarrinho').on('click', exibirCarrinho);
    });

    // add padding top to show content behind navbar
    $('body').css('padding-top', $('.navbar').outerHeight() + 'px')


    // detect scroll top or down
    if ($('.smart-scroll').length > 0) { // check if element exists
        var last_scroll_top = 0;
        $(window).on('scroll', function () {
            scroll_top = $(this).scrollTop();
            if (scroll_top < last_scroll_top) {
                $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
            }
            else {
                $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
            }
            last_scroll_top = scroll_top;
        });
    }

    const btnUsu = document.querySelector('.tooltip-toggle');
    const tooltip = document.querySelector('#tooltip');

    Popper.createPopper(btnUsu, tooltip, {
        placement: 'bottom-start',
    });

    function alternarPopup(){
        $('#tooltip').toggleClass('d-none');
    }

   setTimeout(function(){alternarPopup()}, 5000);
    btnUsu.addEventListener('click', alternarPopup)

</script>