
	<div class="principal" class="container-fluid" style="align-items: middle;">
        <div id="textoBanner" class="container-fluid bg-light">
            <h1 class="p-1">Produtos 100% naturais</h1>
            <p>produção caseira, ingredientes naturais e plastic free</p>
        </div>
	</div>
	
    <div id="">
        <ul class="nav justify-content-end mr-4">
            <li class="nav-item">
              <a class="nav-link active" href="#">Filtrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ordenar</a>
            </li>
        </ul>
	</div>
	<div style="text-align: center;">
		<ul id="gridProdutos" class="" style="padding: 10px;">
		
			<li class="card card-produto" >
				<img src="/imagens/produtos.png" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos.png" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos.png" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos.png" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos.png" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			
			
		</ul>
	</div>
