
	<div class="principal" class="container-fluid" style="align-items: middle;">
        <div id="textoBanner" class="container-fluid bg-light">
            <h1 class="p-1">Produtos 100% naturais</h1>
            <p>produção caseira, ingredientes naturais e plastic free</p>
        </div>
	</div>
	
    <nav id="subMenu">
        <ul class="nav justify-content-end mr-4">
            <li class="nav-item">
              <a class="nav-link active" href="#">Filtrar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ordenar</a>
            </li>
        </ul>
	</nav>

	<div>
		<ul id="produtos" class="" style="padding: 10px; ">
		
			<li class="card card-produto" >
				<img src="/imagens/produtos/s1.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s2.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s3.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s4.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s5.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>

						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s6.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s7.jpg" class="card-img-top " alt="sabonete 1" >
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
			<li class="card card-produto" >
				<img src="/imagens/produtos/s8.jpg" class="card-img-top " alt="sabonete 1" >
				
				<div class="card-body"  style="text-align: center;">
					<p class="card-text">Sabonete argila branca <br>
						<!-- <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span class="small text-gray">   0 avaliações</span><br> -->
						R$40,00
					</p>   
				</div>
			</li>
		</ul>
	</div>
