<div class="telaQuiz">
<!-- Início -->
    <div id="home-container" class="text-center mx-auto">
        <div class="limitador-raio">
            <img id="raios" class="rodar" src="/imagens/raios.svg"/>
        </div>
        <div id="home-conteudo">
            <div class="t-quiz h1"> Qual é o sabonete perfeito para mim? </div>
            <div class="p-5 mt-5">
                <img class="flutuar-girando-suave" src="/imagens/sabaoMisterio.png"/>
            </div>
            <div><button id="start-btn" type="button" class="btn-quiz px-5">Começar</button></div>
        </div>
    </div>

    <!-- Questões / Lista layout-->
    <div class="container-fluid">
        <div class="row">
            <div id="insert-question-container" class="col-lg-10">

            </div>
            <div id="insert-option-container" class="col-lg-2">

            </div>
        </div>
    </div>

    <!-- Questões -->
    <div id="question-container" class="d-none">
        <div id="question" class="text-center h2">Question</div>
        <div id="answer-buttons" style="height:70vh">
            <button class="btn btn-light btn-lg">Resposta 1</button>
        </div>
        <div class="text-center">
            <button id="next-btn" type="button" class="btn btn-quiz2 d-none">Próximo</button>
            <button id="final-btn" type="button" class="btn btn-quiz2 d-none">Finalizar</button>
        </div>
    </div>

    <!-- Lista -->
    <div id="option-container" class="p-2 d-none">
        <div class="h2 p-2 mb-1 text-center">Escolhas</div>
            <div id="option-buttons" class="text-white text-center">
                <div class="p-2 bg-danger">Escolha1</div>
            </div>
        <div id="option-bar" class="mt-3 mb-1">
            
        </div>
        <div class="d-flex justify-content-center">
            <button id="result-btn" type="button" class="btn btn-secondary d-none">Resultado</button>
        </div>
    </div>
        
<!-- Resultado -->
    <div id="result-container" class="revelacao text-center d-none">
        <div class="t-quiz h1">RESULTADO</div>
        <div>
            <img width=25% alt="nome sabonete" src="/imagens/produtos/s1.jpg"/>
            <div class="h2">NOME DO SABONETE</div>
        </div>
        <div class="p-3">
            <button id="restart-btn" type="button" class="btn btn-light btn-lg">RECOMEÇAR</button>
            <button type="button" class="btn btn-success btn-lg">VER NA LOJA</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    const startButton = document.getElementById("start-btn")
    const nextButton = document.getElementById("next-btn")
    const finalizeButton = document.getElementById("final-btn")
    const resultButton = document.getElementById("result-btn")
    const restartButton = document.getElementById("restart-btn")
    const homeContainerElement = document.getElementById('home-container')
    const questionContainerElement = document.getElementById('question-container')
    const listContainerElement = document.getElementById("option-container")
    const resultContainerElement = document.getElementById('result-container')
    const questionElement = document.getElementById("question")
    const answerButtonsElement = document.getElementById("answer-buttons")

    //layout questão / lista
    const layoutQuestion = document.getElementById("insert-question-container")
    const layoutList = document.getElementById("insert-option-container")

    let shuffledQuestions, currentQuestionIndex
    var escolhaAtual = ""
    var escolhas = []


    startButton.addEventListener('click', comecarJogo)
    nextButton.addEventListener('click', () => {
        escolherResposta();
        currentQuestionIndex++
        proximaPergunta()
        mostrarLista()
    })
    finalizeButton.addEventListener('click', () => {
        escolherResposta();
        currentQuestionIndex++
        telaLista()//mudar o layout pra lista ocupar a tela inteira e sair o container de questões
        mostrarLista()
    })
    resultButton.addEventListener('click', mostrarResultado)
    restartButton.addEventListener('click', () => {location.reload()})


    function comecarJogo() {
        console.log("Começou!")
        startButton.classList.add("d-none")
        homeContainerElement.classList.add("d-none")
        shuffledQuestions = questions.sort(() => Math.random() - .5)
        currentQuestionIndex = 0
        questionContainerElement.classList.remove("d-none")
        proximaPergunta()
    }

    function proximaPergunta() {
        resetarInstancia()
        mostrarPergunta(shuffledQuestions[currentQuestionIndex])
    }

    function mostrarPergunta(question) {
        let alternar = 2;
        questionElement.innerText = question.question
        question.answers.forEach(answer => {
            const button = document.createElement("button")
            button.innerText = answer.text
            button.classList.add("btn")
            button.classList.add("btn-light")
            button.classList.add("btn-lg")
            button.classList.add("position-relative")
            button.classList.add("flutuar")

            //posicionamento aleatório
            let x = Math.random() * 6 + 2;
            let y = Math.random() * 6 + 2; //+ tamanho do botão pra n ter perigo de sobrescrever.
            if(alternar % 2 === 0) {y *= -1}

            let estilo = "top:"+ y.toFixed(2) +"cm;left:"+ x.toFixed(2) +"cm;";
            button.setAttribute("style", estilo); 
            button.addEventListener('click', clicouBotao)
            answerButtonsElement.appendChild(button)
            alternar++;
        })
    }

    function resetarInstancia() {
        nextButton.classList.add("d-none")
        while(answerButtonsElement.firstChild) {
            answerButtonsElement.removeChild(answerButtonsElement.firstChild)
        }
    }

    function clicouBotao(e) {
        var selectedButton = e.target
        escolhaAtual = selectedButton.textContent
        if(shuffledQuestions.length > currentQuestionIndex + 1) {
            nextButton.classList.remove("d-none")
        } else {
            finalizeButton.classList.remove('d-none')
        }
    }
    
    function escolherResposta() {
        escolhas.push(escolhaAtual)
    }

    function mostrarLista() {
        if(currentQuestionIndex === 1) {
            layoutQuestion.appendChild(questionContainerElement)
            layoutList.appendChild(listContainerElement)
        }

        listContainerElement.classList.remove("d-none")

        var lista = ""

        for(var i in escolhas) {
            lista += "<div class='p-2 div-escolha my-2'>"+ escolhas[i] +"</div>"
        }
        $('#option-buttons').html(lista);

        var barra = ""
        let perc = (currentQuestionIndex / questions.length).toFixed(2)
        perc *= 100
        barra += "<div class='progress'>" +
				"<div class='progress-bar progress-bar-striped bg-dark progress-bar-animated active' role='progressbar'"+
                "aria-valuenow='2' aria-valuemin='0' aria-valuemax='100' style='min-width: 2em; width: " +
				perc +
				"%;'></div>" +
				"</div>"

        $('#option-bar').html(barra);
    }

    var barraCarregamento = document.getElementById('option-bar')
    function telaLista() {
        finalizeButton.classList.add('d-none')
        layoutQuestion.remove()
        layoutList.classList.remove('col-lg-2')
        layoutList.classList.add('col-lg-12')
        layoutList.classList.add('telaCheia')
        setTimeout(() => {barraCarregamento.classList.add('piscar')},2000)
        setTimeout(() => {barraCarregamento.remove(); resultButton.classList.remove('d-none');},5000)
    }

    function mostrarResultado() {
        layoutList.remove()
        resultContainerElement.classList.remove('d-none')
    }


    const questions = [
        {
            id: 1,
            question: "Uma pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1,
                    "next": 2
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3,
                    "next": 2
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "d - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "e - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "f - 5 pontos",
                    "score": 5,
                    "next": 3
                }
            ]
        },
        {
            question: "Outra pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5
                }
            ]
        },
        {
            question: "Outrissima pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5
                }
            ]
        }
    ]

</script>