<!-- Início -->
<div id="home-container" class="text-center">
    <div class="h1"> TÍTULO </div>
    <div class="pb-5 pt-3">
        <img src="/imagens/sabaoMisterio.png"/>
    </div>
    <div><button id="start-btn" class="btn btn-secondary px-5">Começar</button></div>

</div>

<!-- Questões -->
<div id="question-container" class="w-100 h-100 border d-none">
    <div id="question" class="text-center h2">Question</div>
    <div id="answer-buttons">
        <button class="btn btn-light btn-lg">Resposta 1</button>
        <button class="btn btn-light btn-lg">Resposta 2</button>
        <button class="btn btn-light btn-lg">Resposta 3</button>
        <button class="btn btn-light btn-lg">Resposta 4</button>
    </div>
</div>
<div class="form-group mt-2">
    <button id="next-btn" class="btn primary-btn d-none">Próximo</button>
    <button id="result-btn" class="btn btn-secondary d-none">Resultado</button>

</div>

<!-- Lista -->
    
<!-- Resultado -->


<script>
    const startButton = document.getElementById("start-btn")
    const nextButton = document.getElementById("next-btn")
    const resultButton = document.getElementById("result-btn")
    const homeContainerElement = document.getElementById('home-container')
    const questionContainerElement = document.getElementById('question-container')
    const questionElement = document.getElementById("question")
    const answerButtonsElement = document.getElementById("answer-buttons")

    let shuffledQuestions, currentQuestionIndex
    let result = []

    startButton.addEventListener('click', comecarJogo)
    nextButton.addEventListener('click', () => {
        currentQuestionIndex++
        proximaPergunta()
    })
    resultButton.addEventListener('click', mostrarResultado)


    function comecarJogo() {
        console.log("Começou!")
        startButton.classList.add("d-none")
        homeContainerElement.classList.add("d-none")
        shuffledQuestions = questions.sort(() => Math.random() - .5)
        currentQuestionIndex = 0
        questionContainerElement.classList.remove("d-none")
        proximaPergunta()
    }

    function proximaPergunta() {
        resetarInstancia()
        mostrarPergunta(shuffledQuestions[currentQuestionIndex])
    }

    function mostrarPergunta(question) {
        questionElement.innerText = question.question
        question.answers.forEach(answer => {
            const button = document.createElement("button")
            button.innerText = answer.text
            button.classList.add("btn")
            button.classList.add("btn-light")
            button.classList.add("btn-lg")
            button.classList.add("position-relative")
            button.classList.add("flutuar")

            //posicionamento aleatório
            let x = Math.random() * (300) + 50;
            let y = Math.random() * (500) + 15;
            let estilo = "top:"+ y.toFixed(0) +"px;left:"+ x.toFixed(0) +"px;";
            button.setAttribute("style", estilo);
            //if (answer.correct) {
            //  button.dataset.correct = answer.correct
            //}
            button.addEventListener('click', escolherResposta)
            answerButtonsElement.appendChild(button)
        })
    }

    function resetarInstancia() {
        nextButton.classList.add("d-none")
        while(answerButtonsElement.firstChild) {
            answerButtonsElement.removeChild(answerButtonsElement.firstChild)
        }
    }

    function escolherResposta(e) {
        if(shuffledQuestions.length > currentQuestionIndex + 1) {
            nextButton.classList.remove("d-none")
        } else {
            resultButton.classList.remove("d-none")

        }
        //nextButton.classList.remove("d-none")
    }

    var escolhas = []
    function decisao(question, score) {
        arvore.concat(score)
        let next = question.answers.next

        if(next == 0) {
            mostrarResultado(arvore)
        } else {
            proximaPergunta(next)
        }
    }

    function mostrarResultado(id_resultado) {

    }


    const questions = [
        {
            id: 1,
            question: "Uma pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1,
                    "next": 2
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3,
                    "next": 2
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "d - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "e - 5 pontos",
                    "score": 5,
                    "next": 3
                },
                {
                    "text": "f - 5 pontos",
                    "score": 5,
                    "next": 3
                }
            ]
        },
        {
            question: "Outra pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5
                }
            ]
        },
        {
            question: "Outrissima pergunta",
            answers: [
                {
                    "text": "a - 1 ponto",
                    "score": 1
                },
                {
                    "text": "b - 3 pontos",
                    "score": 3
                },
                {
                    "text": "c - 5 pontos",
                    "score": 5
                }
            ]
        }
    ]

</script>