<% titulo = "Sabonete Perfeito" %>

<div id="tela" class="principalP2">
<!-- Início -->
    <div id="home-container" class="text-center mx-auto">
        <div id="home-conteudo" class="q-container">
            <div class="limitador">
                <div class="t-quiz"> 
                    <h2>Sabonete Perfeito</h2>
                    <h4>Faça o quiz e descubra qual o sabonete perfeito para sua pele!</h4>
                </div>
                <div class="p-5 mt-5 img-box">
                    <img class="flutuar-girando-suave img-quiz" src="/imagens/sabaoMisterio.png"/>
                </div>
                <div><button id="start-btn" type="button" class="btn-quiz px-5">Começar</button></div>
            </div>
        </div>
    </div>

    <!-- Questões / Lista layout-->
    <div id="layout" class="container-fluid d-none">
        <div class="row">
            <div id="insert-question-container" class="col-lg-10">

            </div>
            <div id="insert-option-container" class="col-lg-2">

            </div>
        </div>
    </div>

    <!-- Questões -->
    <div id="question-container" class="d-none q-container">
        <button id="reset-btn" type="button" class="btn btn-light redondo d-none"><span class="fa fa-undo"></span></button>
        <div id="question" class="text-center h3">Question</div>
        <div id="answer-buttons" class="text-center my-5" style="max-height:90%">
            <button class="btn btn-light">Resposta 1</button>
        </div>
        <div id="botoes" class="text-center mb-3">
            <button id="next-btn" type="button" class="btn btn-quiz2 mx-auto d-none">Próximo</button>
            <button id="final-btn" type="button" class="btn btn-quiz2 mx-auto d-none">Finalizar</button>
            <!-- btn recomeçar -->
        </div>
    </div>

    <!-- Lista -->
    <div id="option-container" class="d-none lista">
        <div class="h2 mb-1">Escolhas</div>
            <div id="option-buttons">
                
            </div>
        <div class="mt-4">
            <div id="option-bar">
                
            </div>
            <button id="result-btn" type="button" class="btn bg-dark text-white d-none" style="padding: 5px 100px">Resultado</button>
        </div>
    </div>
        
<!-- Resultado -->
    <div id="result-container" class="revelacao text-center d-none q-container">
        <div class="t-quiz h1">RESULTADO</div>
        <div class="my-3">
            <img id="img-res" width=30% alt="imagem do sabonete" src=""/>
            <div id="txt-res" class="h2 mt-4"></div>
        </div>
        <div class="p-3">
            <button id="restart-btn" type="button" class="btn btn-light btn-lg">RECOMEÇAR</button>
            <a id="btn-loja" class="btn btn-success btn-lg" href="">VER NA LOJA</a>
        </div>
    </div>

<!-- Erro -->
    <div id="error-container" class="text-center d-none q-container">
        <div class="t-quiz h1">OPS...</div>
        <div>
            <img width=25% alt="nome sabonete" src="https://weakwifisolutions.com/wp-content/uploads/2019/08/error-red-cross-1.png?ezimgfmt=rs:372x372/rscb2/ng:webp/ngcb2"/>
            <div class="h2">Desculpa, o seu resultado não foi encontrado. Por favor, tente novamente.</div>
        </div>
    </div>

</div>

<input type="hidden" id="produtos" value='[<% for(let i in lista){ %>{"id":<%= lista[i].id_produto %>, "nome":"<%= lista[i].nome_produto%>"}<% if(i < lista.length - 1){%>,<% } %><% } %>]'/>

<%- include("quiz-questoes") %>
<script type="text/javascript">
    const startButton = document.getElementById("start-btn")
    const nextButton = document.getElementById("next-btn")
    const finalizeButton = document.getElementById("final-btn")
    const resultButton = document.getElementById("result-btn")
    const restartButton = document.getElementById("restart-btn")
    const resetButton = document.getElementById("reset-btn")
    const homeContainerElement = document.getElementById('home-container')
    const questionContainerElement = document.getElementById('question-container')
    const listContainerElement = document.getElementById("option-container")
    const resultContainerElement = document.getElementById('result-container')
    const errorContainerElement = document.getElementById('error-container')
    const questionElement = document.getElementById("question")
    const answerButtonsElement = document.getElementById("answer-buttons")

    //layout questão / lista
    const layoutQuestion = document.getElementById("insert-question-container")
    const layoutList = document.getElementById("insert-option-container")

    let currentQuestionIndex
    var escolhaAtual = ""
    var escolhas = []


    startButton.addEventListener('click', comecarJogo)
    nextButton.addEventListener('click', () => {
        escolherResposta();
        currentQuestionIndex++
        proximaPergunta()
        mostrarLista()
    })
    finalizeButton.addEventListener('click', () => {
        escolherResposta();
        currentQuestionIndex++
        telaLista()
        mostrarLista()
    })
    resultButton.addEventListener('click', obterResultado)
    restartButton.addEventListener('click', () => {location.reload()})
    resetButton.addEventListener('click', () => {location.reload()})


    function comecarJogo() {
        startButton.classList.add("d-none")
        homeContainerElement.classList.add("d-none")
        currentQuestionIndex = 0
        questionContainerElement.classList.remove("d-none")
        proximaPergunta()
    }

    function proximaPergunta() {
        resetarInstancia()
        mostrarPergunta(questoes[currentQuestionIndex])
    }

    function mostrarPergunta(questao) {
        resetButton.classList.remove('d-none')
        let posicoes = [];
        let qtdquestoes = questao.alternativas.length;
        questionElement.innerText = questao.titulo
        questao.alternativas.forEach(alternativa => {
            const button = document.createElement("button")
            button.innerText = alternativa.texto
            button.classList.add("btn")
            button.classList.add("btn-dark")
            button.classList.add("alternativa")
            button.classList.add("mt-3")
            button.classList.add("flutuar")

            button.addEventListener('click', clicouBotao)
            answerButtonsElement.appendChild(button)
        })
    }

    function resetarInstancia() {
        nextButton.classList.add("d-none")
        while(answerButtonsElement.firstChild) {
            answerButtonsElement.removeChild(answerButtonsElement.firstChild)
        }
    }

    function clicouBotao(e) {
        var selectedButton = e.target
        escolhaAtual = selectedButton.textContent
        if(questoes.length > currentQuestionIndex + 1) {
            nextButton.classList.remove("d-none")
        } else {
            finalizeButton.classList.remove('d-none')
        }
    }
    
    function escolherResposta() {
        escolhas.push(escolhaAtual)
    }

    function mostrarLista() {
        if(currentQuestionIndex === 1) {
            $("#layout").removeClass('d-none')
            layoutQuestion.appendChild(questionContainerElement)
            layoutList.appendChild(listContainerElement)
        }

        listContainerElement.classList.remove("d-none")

        var lista = ""

        for(var i in escolhas) {
            lista += "<div class='p-2 div-escolha my-2'>"+ escolhas[i] +"</div>"
        }
        $('#option-buttons').html(lista);

        var barra = ""
        let perc = (currentQuestionIndex / questoes.length).toFixed(2)
        perc *= 100
        barra += "<div class='progress'>" +
				"<div class='progress-bar progress-bar-striped bg-dark progress-bar-animated active' role='progressbar'"+
                "aria-valuenow='2' aria-valuemin='0' aria-valuemax='100' style='min-width: 2em; width: " +
				perc +
				"%;'></div>" +
				"</div>"

        $('#option-bar').html(barra);
    }

    var barraCarregamento = document.getElementById('option-bar')
    function telaLista() {
        finalizeButton.classList.add('d-none')

        //deslocar botão de recomeçar e colocar no lugar final
        $('#botoes').append(resetButton)
        resetButton.classList.add('d-none')
        resetButton.classList.add('btn-lg')
        resetButton.classList.remove('position-absolute')
        resetButton.classList.remove('redondo')
        resetButton.textContent = "Recomeçar"
        $('#tela').append($('#botoes'))

        layoutQuestion.remove()
        layoutList.classList.remove('col-lg-2')
        layoutList.classList.add('col-lg-12')
        layoutList.classList.add('telaCheia')
        setTimeout(() => {barraCarregamento.classList.add('piscar')},2000)
        setTimeout(() => {barraCarregamento.remove(); resultButton.classList.remove('d-none');},5000)
    }

    function mostrarResultado(produto) {
        layoutList.remove()

        if(produto == false){
            errorContainerElement.classList.remove('d-none')
            resetButton.classList.remove('d-none')
        } else {
            $('#img-res').attr("src", "/imagens/produtos/s" + produto.id + ".jpg")
            $('#txt-res').text(produto.nome)
            $('#btn-loja').attr("href", "/produto/"+ produto.id)
            resultContainerElement.classList.remove('d-none')
        }
    }

</script>