<div class="fundoBase row">
    <div class="mx-auto p-4 shadow border bg-light col-sm-6 h-50">
        <h1 class="text-center h1">Pedido não encontrado</h1>
        <p class="py-2">Ops... o pedido não foi encontrado. Verifique a URL e tente novamente.</p>

        <div class="text-center">
            <a class="btn botao" href="/pedido/listar">Voltar</a>
        </div>

    </div>
</div>
