body, html{
    height: 100%;
    max-height: 100%;
}
* {
	margin:0;
	padding:0;
    box-sizing: border-box;	
    color: #333333;
    font-family: 'Noto Serif JP', sans-serif;
}
.principal{
    width: 100%;
    min-height: 100%;
    padding: 8%;
    background-image: url(/imagens/banners/fundo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.principal2{
    background-image: url(/imagens/banners/fundo8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;

}
.produtoPagina{
    padding: 8%;
}
.pagina{
    padding: 8%;
    height: 520px;
}
#tituloPrincipal{
    font-weight: 900;
    margin-top: 150px;
    margin-bottom:30px;
    font-family: 'Noto Serif JP'
}
#descPrincipal{
    font-family: 'Noto Serif JP'
}
#principal .row .colEsq{
    padding: 2%;
   
}
#principal .row .colEsq #descPrincipal{
    width: 68%
}
.botao{
    background-color: rgb(230 100 0);
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color:white; 
}

.botao:hover{
    color:white;
}
#botao1{
    width: 120px;

    /* margin-left: 415px; */

}
#botao2{
    width: 150px;
    float: right;
    position: relative;
    margin-top:3px;
    border-radius: unset;
}
.btn{
    border-radius: unset;
}
#sectionProdutos{
    width: 100%;
    height: 720px;
}

/* início navbar */

/* .opcoesMenu{
    margin: 0 auto;
    font-size: 18px;
    font-weight: 400;
}
#iconeCarrinho, #iconeUsuario{
    font-size: 30px;
    position: relative;
}
#itensNoCarrinho{
    position: absolute;
    font-size: 15px;
    top: 15px;
    right: 8px;
    padding: 0 5px;
    border-radius: 30%;
    color: white;
    background-color: rgb(230 100 0);
}

.navbar{
    padding:0;
    padding-right: 30px;
    padding-left: 5px;
}
.nav:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 8;
  }
.scrolled-down{
    transform:translateY(-100%); 
    transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px); 
} */

#tooltip {
    background-color: #efefef;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 13px;
  }

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: #efefef;
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
  }
  
  #tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
  }
  
  #tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
  }
  
  #tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
  }

/* fim navbar */

/* início navbar */
.menu{
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 8;
    text-align: center;

}
.menu h1 {
    float: left;
    font-family: 'Noto Serif JP';
    font-weight: 500;
}
.a1:hover{
    opacity: 1;
}
.menu  .iconesPessoais{
    margin-top: 6px;
    margin-right: 30px;
    float: right;
    text-align: right;
}
#iconeCarrinho, #iconeUsuario{
    font-size: 30px;
    position: relative;
}
#itensNoCarrinho{
    position: absolute;
    font-size: 14px;
    top: 11px;
    right: 8px;
    padding: 4px 4px 3px 3px;
    border-radius: 50%;
    color: white;
    background-color: rgb(230 100 0);
}
 .menu ul {
    text-align: center;
    display: inline-block;
}
.menu ul li{
  list-style: none;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 25px;
  font-weight: 400;
  display: inline-block;
   
}
.menu:hover{
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 1);
   
}
.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 8;
  }
  .scrolled-down{
     transform:translateY(-100%); 
     transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
     background-color: rgba(255, 255, 255, 0.3);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px); 
  }
 
/* fim navbar */
a .botaoA{
    text-decoration: none;

}
.botaoA:hover{
    opacity: 1;
    color:white;
}
a, a:hover{
    text-decoration: none;
    color:black;
}
  a:hover{
    opacity: 0.6;
    cursor: pointer;
  }

.gridImage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url('/imagens/1/mainQuadrada.jpg');


}
  .footer-copyright{
      padding: 10px;
  }
  #sectionDepoimentos{
    height: 500px;
    width: 100%;
    background-color: #fafafa;
    padding-top: 150px;
    
  }
  #depoimento{
      width: 40%;
      padding: 2%;
      margin-left: 55%;
      background-color: rgba(255, 255, 255, 0.3);
      font-style: italic;
      color: #333333;
      font-weight: 500;
  }

#sectionBiografia{
    width: 100%;
    padding-right:8%;
    padding-left: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #f3f4f8;
  }
.imgTamanho{
    max-width: 100%;
  }
.limitadorBio{
    max-width: 1440px;
    margin: 0 auto;
}
.biografia{
    margin:4%;
    margin-top: 6%;
    font-size: 18px;
    max-width: 800px;
    font-weight: 400;

}
#footer{
    background-color: #1d3045;
}
 #opcoesFooter ul{
     list-style: none;
     text-align: right;
 }
 #opcoesFooter ul li{
    display: inline-block;
    margin-right: 10px;


}
#opcoesFooter ul li a, #contatoFooter{
    color: white;
}
#footer {
    padding-top:4%;
}
.logoFooter{
    font-family: 'Noto Serif JP';
    color: white;
    opacity: 0.8;
}

/* INICIO PÁGINA PRINCIPAL PRODUTOS */
.principalP{
    background-image: url(/imagens/banners/fundo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    align-items: middle;
    width: 100%;
    min-height: 100%;
    padding-top: 5%;
}
#tituloProdutos{
    font-weight: 700;
}
.principalP2{

    width: 100%;
    min-height: 100%;
    padding-top: 8%;
}
#textoBanner{
    text-align: center;
    padding: 100px;
    max-width: 800px;
    background-color:rgba(255, 255, 255, 0.8);

}
.aligner{
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item{
    max-width: 50%;
}

#textoBanner h1, #textoBanner p{
    color: #525252;

}

#produtos{
    margin: 0 auto;
    max-width: 1205px;
}

.card-produto{
    width: 22rem; 
    display: inline-block;
    margin:20px;
    border-radius: unset;
    border-style: none;
    -webkit-transition: box-shadow 0.2s;
}
.card-mostruario{
    border-radius: unset;
    border-style: none;
    -webkit-transition: box-shadow 0.2s;
    margin:10px;
}

.card-produto:hover, .card-mostruario:hover{
    box-shadow: 0 0 4em #e4e4e4;
    /* opacity: 0.8; */
    /* border-radius: 30px; */
    transition-duration: 0.5s;

}
#subMenu{
    position: -webkit-sticky;
    top: 720px;
}
.produtoA:hover{
    opacity: 1;
    display:block;
}
@media (max-width: 1205px) {
    #produtos{
        text-align: center;
        width: 100%;
    }
   
}


@media (max-width: 768px) {
    #banner1{
        display: none;
    }
    
    #sectionDepoimentos{
        height: 500px;
        width: 100%;
        background-color: #fafafa;
        padding-top: 150px;  
    }
    #depoimento{
        width: 80%;
        padding: 4%;
        margin-left: 10%;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #botao2{
        width: 150px;
        float: right;
        position: relative;
        margin-top:3px;
        border-radius: unset;
    }

    /* início navbar */
    .menu h1 {
        margin-right: 0;
        text-align: center;
    }
    
    .menu  .iconesPessoais{
        margin-top: 6px;
        margin-right: 30px;
        float: right;
        text-align: right;

    }
    
    .menu ul {
        text-align: center;
        display: inline-block;
    }
    .menu ul li{
    list-style: none;
    font-size: 18px;
    margin-top: 25px;
    height: 100%;
    font-weight: 400;
    display: inline-block;
    
    }
    .menu:hover{
        transition: all 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 1);
    }
    .smart-scroll{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 8;
    }
    .scrolled-down{
        transform:translateY(-100%); 
        transition: all 0.3s ease-in-out;
    }
    .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(5px); /* Safari 9+ */
        backdrop-filter: blur(5px); /* Chrome and Opera */
    }
    /* fim navbar */

}
.dir{
    margin-left: 230px;
}

@media (max-width: 425px) {
    
    #sectionDepoimentos{
        height: 500px;
        width: 100%;
        background-color: #fafafa;
        padding-top: 150px;  
    }
    #depoimento{
        width: 96%;
        padding: 4%;
        margin-left: 2%;
        background-color: rgba(255, 255, 255, 0.7);
    }
    #botao2{
        width: 130px;
        margin-top:0px;
    }
    .dir{
        margin-left: 0;
    }
}
/* FIM PÁGINA PRINCIPAL PRODUTOS */

/* INÍCIO PÁGINA DE LOGIN E CADASTRO*/

.fundoBase{
    width: 100%;
    min-height: 100%;
    background-color: #f2f2f2;
    padding-top: 200px;
}
#containerLogin{
    width: 350px;
   

}
#containerLogin #tituloAcesso, #containerCadastro #tituloAcesso{
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.9;
}

#containerCadastro{
    width: 600px;
}

/* FIM PÁGINA LOGIN E CADASTRO */


/* finalizar compra */

.caminhoPaginas{
    position: absolute;
    top:40px;
    left:80px;
    font-size: 14px;
    opacity: 0.9;


}
.breadcrumb{
    background-color: transparent !important;

}

#esqCheckout, #dirCheckout{
    padding:100px;
    
}
#esqCheckout h3, #dirCheckout h3{
    font-weight: 700;
}
#esqCheckout{
    background-color: white;
}


/* fim finalizar compra */


/* INÍCIO CARRINHO */
.carrinho{
    height: 100vh;
    display: none;
    position: fixed;
    top:0;
    right:0;
    z-index:10;
    background-color: white;
    width: 500px;
}

#containerItens {
    height: calc(100vh - 250px);
    overflow: auto;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vh;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
#fecharCarrinho.active {
    margin-left: -250px;
}
/* FIM CARRINHO */

/* INÍCIO QUIZ  */
.telaQuiz{
    width: 100%;
    overflow-x: hidden;
}

.telaCheia {
    min-width: 75vh;
    min-height: 75vh;
    max-height: 85vh;
}

.limitador{
    max-width: 80%;
    margin: 0 auto;
}

.bg-raio{
    background-image: url('/imagens/raiosgif.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 85%;
}

.t-quiz{
    background-color: rgba(255, 255, 255, 0.8);
}

.q-container, .lista{
    display: block;
    line-height: 1.5;
    position: relative;
    margin: auto;
}

.lista{
    margin-top: 40px;
    max-width: 500px;
    padding: 25px 15px;
    text-align: center;
}

#option-container{
    border: none 2px;
    border-radius: 20px;
    box-shadow: 0px 0px 32px -18px rgba(0,0,0,0.33);
}

.div-escolha{
    background-color: #E66400;
    color:white;
    font-weight: bold;
    max-width: 300px;
    margin: 0 auto;
}

.btn-quiz{
    max-width: 300px;
    height: 55px;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    transition: .5s;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid #E66400;
    color:  #E66400;
}

.btn-quiz:hover{
    border: none;
    color: white;
    transform:scale(1.1);
    background-color: #E66400;
    transition: all 0.3s ease-in-out;
}

.revelacao{
    background-image: url(/imagens/gif_burst.gif);
    background-repeat: no-repeat;
    background: cover;
    background-position: center center;
}

.btn-quiz2{
    padding: 10px 6em;
    margin-bottom: 1em;
    text-align: center;
    background-color: #E66400;
    color:white;
}

.btn-quiz2:hover{
    color: rgba(255, 255, 255, 0.7);
}

.redondo{
    width: 45px;
    height: 45px;
    padding: 6px 0px;
    border-radius: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    position: sticky;
    top:0;
    left: 10%
}

.img-box{
    max-width: 600px;
    margin: 0 auto;
}

.img-quiz{
    width: 100%;
    height: 100%;
}

@media(max-width: 425px){
    .lista{
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .telaQuiz {
        padding: 200px 0 0 0;
    }
    .lista{
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.alternativa{
    display: block;
    margin: 0 auto;
    width: 250px;
    padding: 15px 0;
    font-size: 20px;

}

/* FIM QUIZ */

/* INÍCIO AREA RESTRITA */
.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #282624;
    color: #fff;
    transition: all 0.3s;
}
#sidebar h3{
    color:white;
}
.navbtn, .navbtn:hover, .navbtn:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    opacity: 1;
}
#sidebarCollapse{
    position: absolute;
    top:0;
}
.navbtn:hover{
    
}
#sidebar .sidebar-header {
    padding: 20px;
    background-color: #282624;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(230 100 0);
} */

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.7em;
    display: block;
}
#sidebar ul li a:hover {
    background:  rgba(230, 100, 0, 1);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background-color: rgb(230 100 0);
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse{
    margin: -50px 0 0 -66px;
}

ul ul a {
    font-size: 1.1em !important;
    padding-left: 30px !important;
    background: rgb(230 100 0);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.ires{
    font-size: 15px;
    padding: 0 5px;
}

#paginaR{
    padding: 50px 50px 0 300px;
    transition: all 0.3s;
}

.tituloR{
    padding: 0 0 1em 0;
}

#toggle{
    transition: all 0.3s;
}

/* esconde a navbar em telas pequenas */
@media (max-width: 768px) {
    #paginaR {
        padding: 50px 50px 0 50px;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #toggle.active{
        margin-left: 250px
    }
}