<h1>Produtos</h1>

<div class="tabela">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Composição</th>
                <th scope="col">Modo de uso</th>
                <th scope="col">Estoque</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <a href="" class="btn btn-primary"><i class="ires fa fa-cog"></i></a>
                    <a class="btn btn-danger" href=""><i class="ires fa fa-times"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>
                    <a href="" class="btn btn-primary"><i class="ires fa fa-cog"></i></a>
                    <a class="btn btn-danger" href=""><i class="ires fa fa-times"></i></a>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>
                    <a href="" class="btn btn-primary"><i class="ires fa fa-cog"></i></a>
                    <a class="btn btn-danger" href=""><i class="ires fa fa-times"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>