<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bem-vinda!</h3>
    </div>

    <ul class="list-unstyled components">
        <li >
            <a href="#produtoSubmenu" data-toggle="collapse" aria-expanded="false" class="navbtn dropdown-toggle">Produtos</a>
            <ul class="collapse list-unstyled" id="produtoSubmenu">
                <li>
                    <a class="navbtn" href="/produto/listar"><i class="ires fa fa-align-left"></i>Listar</a>
                </li>
                <li>
                    <a class="navbtn" href="/produto/criar"><i class="ires fa fa-plus"></i> Criar</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="navbtn" href="/pedido/listar">Pedido</a>
        </li>
        <li>
            <a class="navbtn" href="/cliente/listar">Clientes</a>
        </li>
    </ul>
</nav>

<script type="text/javascript">
    $(window).on("load", function(){
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"});
        
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $('#toggle').toggleClass('active');

            if($('#sidebar').hasClass('active')){
                $('#paginaR').css('padding',"50px 50px 0 50px");
            } else {
                $('#paginaR').css("padding", "");
            }
        });

    });
</script>