<div class="fundoBase row">
    <div class="mx-auto p-4 shadow border bg-light col-sm-6 h-50">
        <h1 class="text-center h1">Produto não encontrado</h1>
        <p class="py-2">Ops... algo de errado aconteceu e o produto não foi encontrado. Verifique a URL e tente novamente.</p>

        <div class="text-center">
            <button class="btn botao" onclick="window.location.href='/'">Voltar à Home</button>
        </div>

    </div>
</div>