<div class="row">
    <div class="col-md-6 container border">
        <h1>Produto não encontrado</h1>
        <p>
            Ops... algo de errado aconteceu e o produto não foi encontrado. Verifique a URL e tente novamente.
        </p>
    </div>
</div>